<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<meta name="keywords" content="energie, energetisch, meridianen, energiebanen, shiatsu, reiki, meditatie, gezondheid, welzijn, holistisch, HSP, stress, klachten, pijn, voetreflex, behandeling, inzicht, relax, ontspanning, immuniteit, rust, coaching, stresscoach, burn-out, yoga, mindfulness" />

	<title>Manopura</title>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="/css/manopura.css" />
</head>
<body class="flex-container flex-dir-column">
	{% include navigation.html %}
