<section>
    <div class="row column text-center">
        <p>
            Manopura<br/>
            Gentsesteenweg 18<br/>
            9230 Wetteren<br/>
            0498/42.40.12<br/>
            marian@manopura.be<br/>
            Ondernemingsnummer: 0651.873.949<br/>
        </p>
        <p>
            Het treinstation van Wetteren is vlakbij, op amper 4 minuten wandelen.<br />
            Er is voldoende parkeerplaats aanwezig in de straat.<br />
            Let wel op: het is blauwe zone. Dus vergeet je blauwe kaart niet te leggen.
        </p>
        <a style="font-size: 3em; white" href="https://www.facebook.com/manopura"><i class="fa fa-facebook-official" aria-hidden="true"></i></a><br />
        <a class="button" href="files/manopura.pdf">Download flyer</a>
        <a class="button" href="files/pagina1 plooifolder.jpg">Download folder</a>
    </div>
</section>
