<nav> <!-- Need extra level to allow navigation bar background color to span entire screen width -->
    <div class="title-bar" data-responsive-toggle="navigatie" data-hide-for="medium">
        <div class="title-bar-title">Navigatie</div>
        <button class="menu-icon" type="button" data-toggle="navigatie"></button>
    </div>
	<div class="row top-bar" id="navigatie">
        <div class="top-bar-left show-for-medium">
            <img src="/images/logo.jpg" />
		</div>
        <div class="top-bar-right" data-toggler="hide">
			<ul class="menu vertical medium-horizontal" data-responsive-menu="accordion medium-dropdown">
				<li {% if page.menu == "welkom" %} class="active" {% endif %}>
                    <a {% unless page.menu == "welkom" %} href="/index.html" {% endunless %}>Welkom</a></li>
                <li {% if page.menu == "aanbod" %} class="active" {% endif %}>
                	<a><span>Aanbod</span></a>
                	<ul class="vertical menu">
		 				<li {% if page.menu == "shiatsu" %} class="active" {% endif %}>
		                    <a {% unless page.menu == "shiatsu" %} href="/shiatsu.html" {% endunless %}>Shiatsu</a></li>
						<li {% if page.menu == "cursussen" %} class="active" {% endif %}>
		                    <a {% unless page.menu == "cursussen" %} href="/cursussen.html" {% endunless %}>Cursussen</a></li>
		 				<li {% if page.menu == "voetreflexologie" %} class="active" {% endif %}>
		                    <a {% unless page.menu == "voetreflexologie" %} href="/voetreflexologie.html" {% endunless %}>Voetreflexologie</a></li>
		 				<li {% if page.menu == "stresscoaching" %} class="active" {% endif %}>
		                    <a {% unless page.menu == "stresscoaching" %} href="/stresscoaching.html" {% endunless %}>Stress Coaching</a></li>
						<li {% if page.menu == "reiki" %} class="active" {% endif %}>
		                    <a {% unless page.menu == "reiki" %} href="/reiki.html" {% endunless %}>Reiki</a></li>
						<li {% if page.menu == "meditatie" %} class="active" {% endif %}>
		                    <a {% unless page.menu == "meditatie" %} href="/meditatie.html" {% endunless %}>Meditatie</a></li>
						<li {% if page.menu == "RodeHeuvel" %} class="active" {% endif %}>
		                    <a {% unless page.menu == "RodeHeuvel" %} href="/Rodeheuvel.html" {% endunless %}>RodeHeuvel</a></li>
						
					
					
				
	                </ul></li>
 				<li {% if page.menu == "praktisch" %} class="active" {% endif %}>
                    <a {% unless page.menu == "praktisch" %} href="/praktisch.html" {% endunless %}>Praktisch</a></li>
				<li {% if page.menu == "Getuigenissen" %} class="active" {% endif %}>
                    <a {% unless page.menu == "Getuigenissen" %} href="/Getuigenissen.html" {% endunless %}>Getuigenissen</a></li>
				<li {% if page.menu == "Blog" or layout.menu == "Blog" %} class="active" {% endif %}>
                    <a href="/blog/">Schrijfsels</a></li>
				<li {% if page.menu == "contact" %} class="active" {% endif %}>
                    <a {% unless page.menu == "contact" %} href="/contact.html" {% endunless %}>Contact</a></li>
		</ul>
		</div>
	</div>
</nav>
