/*
 * Settings configuring the foundation framework
 */
$foundation-palette: (
  primary: $color-primary,
  secondary: $color-background,
  success: green,
  warning: yellow,
  alert: red,
) !default;

$button-radius: 4px;

$topbar-submenu-background: $color-submenu;
$blockquote-color: #000000;

