
$color-text: black;
$color-background: #ffd72a;

$color-primary: #e3653e;
$color-menu: #f8b831;
$color-menu-hover: #8d1701;
$color-menu-selected: #8d1701;

$standard-font-stack: 'Open Sans', sans-serif;

$images: '../images/';
